body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    margin-top: 5px;
    height: 43px;
    /* width: 43px; */
    margin-left: 60px;
    position: absolute;
}

.margin{
    margin-left: 210px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #008115;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a:hover:not(.active) {
    color: rgb(230, 200, 33);
}

.active {
    background-color: #4CAF50;
}