.where_i_am {
    color:rgb(0, 0, 0);
    /* text-decoration: underline; */
    margin-top: 30px;
    margin-left: 90px;
}

body{
    background-color: white;
}

.where_i_am a{ 
    color:black;
}

.banner {
    background-size:cover;
    width:100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    height: 319px;
    width: 740px;
    margin-left: 90px;
}

.othernews {
    position: relative;
    margin-top: 150px;
    margin-left: 90px;
}

.blocknews {
    position: absolute; 
    width: 326px;
    height: 684px;
    background: rgb(255, 255, 255);
    margin-left: 920px;
    margin-top: -978px;
    border: 0px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
}

.moresse{
    padding: 10px 15px;
    font-size: 20px;
}

#morenews{
    height: 98px;
    width: 289px;
    margin-top: 20px;
    margin-left: 17px;
    position: relative;
}

#photonews {
    background-size:cover;
    width:100%;
    /* height: 206px; */
    max-width: 100%;
    object-fit: cover;
    display: block;
    /* position:relative; */
    position: absolute; 
    margin: 0; 
    /* border-radius: 5%;  */
    height: 98px; 
    width: 131px;
    cursor: pointer;
    z-index: 1;
}

h5 {
    cursor: pointer;
    height: 83px;
    width: 140px;
    margin-left: 140px;
    text-align: left;
    padding: 6px;
}

h5 a {
    color:black;
    text-decoration: none;
    top: 30px; margin-left: 0px;
}

h5 a:hover {
    color:#008115   ;
}

#date {
    margin:0;
    padding: 0;
    margin-top: -39px; 
    position: absolute;
}

#date a{
    margin-left: 215px; 
    color: #8B8B8B;
}

footer {
    width: 100%;
    /* height: 5vh; */
    background:#ffffff;
    bottom: 0;
    border-top: 1px solid rgb(231, 231, 231);
    margin-top: 50px;
}

footer div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
    width: 690px;
    background-color: rgba(252, 252, 252, 0);
    margin-left: 500px;
    color:black;
    top:30%;
    line-height: 23px;
}